<ion-view view-title="我">
  <ion-content>
    <div class="content">
      <section id="account-bg" class="relative">
		      <div class="account-ava relative" ui-sref="tabs.accountInfo" ng-if="account.loginFlag == 1">
			         <div class="fl" ng-click="upLoadImg()">
				             <img src="img/ava-block.png" alt="" class="avater" style="background-image:url(img/iconfont-avater.png)">
			          </div>
			          <div class="account-info fl">
				            <p><span style="padding-right:10px">ant</p>
				            <p>电话: 123456789</p>
			          </div>
		      </div>
		      <p ng-if="account.loginFlag != 1" style="text-align:center;font-size:20px;color:#fff;padding-top:3.55rem">欢迎来到蚁学教育</p>
		      <p ng-if="account.loginFlag != 1" style="text-align:center;padding-top:0.592rem"><a ui-sref="tabs.accountLogin" class="decora-none" style="color:#fff;font-size:16px">点击登录</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="tabs.accountRegister" class="decora-none" style="color:#fff;font-size:16px">免费注册</a> </p>
	    </section>

      <section>
        <ul class="list list-li-bg">
 	        <li class="item" ui-sref="tabs.accountMoney"><img src="img/icon/iconfont-qianbao.png" alt="">我的钱包</li>
 	        <li class="item" ui-sref="tabs.accountOrders"><img src="img/icon/iconfont-dingdan.png" alt="">我的订单</li>
 	        <li class="item" ui-sref="tabs.accountComments"><img src="img/icon/iconfont-pingjia.png" alt="">我的评价</li>
          <li class="item" ui-sref="#"><img src="img/icon/iconfont-yanzheng.png" alt="">身份验证</li>
        </ul>

        <ul class="list list-li-bg">
 	        <li class="item" ui-sref="tabs.accountInvitation"><img src="img/icon/iconfont-yaoqing.png" alt="">邀请好友</li>
 	        <li class="item" ui-sref="tabs.accountSettings"><img src="img/icon/iconfont-shezhi.png" alt="">我的设置</li>
        </ul>
      </section>

    </div>
  </ion-content>
</ion-view>
