<ion-view view-title="我的课程" class="view-class">
  <ion-nav-buttons side="right">
      <button class="button button-icon ion-navicon" ui-sref="tabs.requirementPost">
      </button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-top tabs-striped">
    <ion-tab title="需求单">
      <ion-view>
        <ion-content class="has-tabs">
          <div class="list card">
            <div class="item item-divider">
              <h2>10月2号 星期天上午<span class="fr">3人预约</span></h2>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                区域:广州天河
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>

          <div class="list card">
            <div class="item item-divider">
              <h2>10月2号 星期天上午<span class="fr">3人预约</span></h2>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                区域:广州天河
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>

          <div class="list card">
            <div class="item item-divider">
              <h2>10月2号 星期天上午<span class="fr">3人预约</span></h2>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                区域:广州天河
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>

          <div class="list card">
            <div class="item item-divider">
              <h2>10月2号 星期天上午<span class="fr">3人预约</span></h2>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                区域:广州天河
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>


        </ion-centent>
      </ion-view>
    </ion-tab>
    <ion-tab title="待上课">
      <ion-view>
        <ion-content class="has-tabs">
          <div class="list card">
            <div class="item item-avatar">
              <img ng-src="img/touxiang_200x200.jpg">
              <h2>王老师&nbsp;&nbsp;<span class="user-auth">3项认证</span><span class="class-pay fr">$100/小时</span></h2>
              <p><span>课堂活跃、对高考出题方向把握到位</span></p>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                时间:周二上午
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>

          <div class="list card">
            <div class="item item-avatar">
              <img ng-src="img/touxiang_200x200.jpg">
              <h2>王老师&nbsp;&nbsp;<span class="user-auth">3项认证</span><span class="class-pay fr">$100/小时</span></h2>
              <p><span>课堂活跃、对高考出题方向把握到位</span></p>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                时间:周二上午
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>

          <div class="list card">
            <div class="item item-avatar">
              <img ng-src="img/touxiang_200x200.jpg">
              <h2>王老师&nbsp;&nbsp;<span class="user-auth">3项认证</span><span class="class-pay fr">$100/小时</span></h2>
              <p><span>课堂活跃、对高考出题方向把握到位</span></p>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                时间:周二上午
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>

          <div class="list card">
            <div class="item item-avatar">
              <img ng-src="img/touxiang_200x200.jpg">
              <h2>王老师&nbsp;&nbsp;<span class="user-auth">3项认证</span><span class="class-pay fr">$100/小时</span></h2>
              <p><span>课堂活跃、对高考出题方向把握到位</span></p>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                时间:周二上午
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>

          <div class="list card">
            <div class="item item-avatar">
              <img ng-src="img/touxiang_200x200.jpg">
              <h2>王老师&nbsp;&nbsp;<span class="user-auth">3项认证</span><span class="class-pay fr">$100/小时</span></h2>
              <p><span>课堂活跃、对高考出题方向把握到位</span></p>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                时间:周二上午
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>
        </ion-centent>
      </ion-view>
    </ion-tab>
    <ion-tab title="已完成">
      <ion-nav-view name="class-finish">
        <ion-content class="has-tabs">
          <div class="list card">
            <div class="item item-avatar">
              <img ng-src="img/touxiang_200x200.jpg">
              <h2>王老师&nbsp;&nbsp;<span class="fr">已评价</span></h2>
              <p><span>课堂活跃、对高考出题方向把握到位</span></p>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                时间:周二上午
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>

          <div class="list card">
            <div class="item item-avatar">
              <img ng-src="img/touxiang_200x200.jpg">
              <h2>王老师&nbsp;&nbsp;<span class="fr">已评价</span></h2>
              <p><span>课堂活跃、对高考出题方向把握到位</span></p>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                时间:周二上午
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>

          <div class="list card">
            <div class="item item-avatar">
              <img ng-src="img/touxiang_200x200.jpg">
              <h2>王老师&nbsp;&nbsp;<span class="fr">已评价</span></h2>
              <p><span>课堂活跃、对高考出题方向把握到位</span></p>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                时间:周二上午
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>

          <div class="list card">
            <div class="item item-avatar">
              <img ng-src="img/touxiang_200x200.jpg">
              <h2>王老师&nbsp;&nbsp;<span class="fr">已评价</span></h2>
              <p><span>课堂活跃、对高考出题方向把握到位</span></p>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                时间:周二上午
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>

          <div class="list card">
            <div class="item item-avatar">
              <img ng-src="img/touxiang_200x200.jpg">
              <h2>王老师&nbsp;&nbsp;<span class="fr">已评价</span></h2>
              <p><span>课堂活跃、对高考出题方向把握到位</span></p>
            </div>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paper-outline"></i>
                科目:小学语文
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-location-outline"></i>
                时间:周二上午
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-ios-paperplane"></i>
                方式:老师上门
            </a>
          </div>
        </ion-centent>
      </ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
