<ion-view view-title="我的课程" class="view-class">
  <ion-nav-buttons side="right">
      <button class="button button-icon ion-navicon" ng-click="#">
      </button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-top tabs-striped">
    <ion-tab title="已发布">
      <ion-view>
        <ion-content>
          <div class="list-item"
            collection-item-width="'100%'"
            >
            <a ui-sref="#" layout="row" layout-align="space-between top">
              <img ng-src="img/touxiang_200x200.jpg" width="100" height="100" style="border-radius:50px; ">
              <div class="item-info" flex layout="column" layout-align="space-between">
                <div layout="row" layout-align="space-between">
                  <div><h3 class="title">陈老师</h3></div>
                  <div>
                    <span>预约中</span>
                  </div>
                </div>
                    <div class="item-data">
                      <div layout="row" layout-align="space-between">
                        <div>
                          <span class="">教龄:5年</span>
                          <span class="">课时:10</span>
                        </div>
                      </div>
                      <div layout="row" layout-align="space-between">
                        <div>
                          <span class="">科目:小学语文</span>
                        </div>
                      </div>
                      <div layout="row" layout-align="space-between">
                        <div>
                          <span class="site-color promo-price dib">$100/小时</span>
                        </div>
                        <div><i class="icon-heart"></i>广州天河</div>
                      </div>
                      <div layout="row" layout-align="space-between">
                        <div class=""><i class="ion-ios-person"></i>评价:</div>
                        <div><i class="ion-ios-heart"></i>10人评价</div>
                      </div>
                    </div>
                  </div>
                </a>

                <a ui-sref="#" layout="row" layout-align="space-between top">
                  <img ng-src="img/touxiang_200x200.jpg" width="100" height="100" style="border-radius:50px; ">
                  <div class="item-info" flex layout="column" layout-align="space-between">
                    <div layout="row" layout-align="space-between">
                      <div><h3 class="title">陈老师</h3></div>
                      <div>
                        <span>预约中</span>
                      </div>
                    </div>
                        <div class="item-data">
                          <div layout="row" layout-align="space-between">
                            <div>
                              <span class="">教龄:5年</span>
                              <span class="">课时:10</span>
                            </div>
                          </div>
                          <div layout="row" layout-align="space-between">
                            <div>
                              <span class="">科目:小学语文</span>
                            </div>
                          </div>
                          <div layout="row" layout-align="space-between">
                            <div>
                              <span class="site-color promo-price dib">$100/小时</span>
                            </div>
                            <div><i class="icon-heart"></i>广州天河</div>
                          </div>
                          <div layout="row" layout-align="space-between">
                            <div class=""><i class="ion-ios-person"></i>评价:</div>
                            <div><i class="ion-ios-heart"></i>10人评价</div>
                          </div>
                        </div>
                      </div>
                    </a>

                    <a ui-sref="#" layout="row" layout-align="space-between top">
                      <img ng-src="img/touxiang_200x200.jpg" width="100" height="100" style="border-radius:50px; ">
                      <div class="item-info" flex layout="column" layout-align="space-between">
                        <div layout="row" layout-align="space-between">
                          <div><h3 class="title">陈老师</h3></div>
                          <div>
                            <span>预约中</span>
                          </div>
                        </div>
                            <div class="item-data">
                              <div layout="row" layout-align="space-between">
                                <div>
                                  <span class="">教龄:5年</span>
                                  <span class="">课时:10</span>
                                </div>
                              </div>
                              <div layout="row" layout-align="space-between">
                                <div>
                                  <span class="">科目:小学语文</span>
                                </div>
                              </div>
                              <div layout="row" layout-align="space-between">
                                <div>
                                  <span class="site-color promo-price dib">$100/小时</span>
                                </div>
                                <div><i class="icon-heart"></i>广州天河</div>
                              </div>
                              <div layout="row" layout-align="space-between">
                                <div class=""><i class="ion-ios-person"></i>评价:</div>
                                <div><i class="ion-ios-heart"></i>10人评价</div>
                              </div>
                            </div>
                          </div>
                        </a>
              </div>
        </ion-centent>
      </ion-view>
    </ion-tab>
    <ion-tab title="待上课">
      <ion-nav-view name="class-class"></ion-nav-view>
    </ion-tab>
    <ion-tab title="已完成">
      <ion-nav-view name="class-finish"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
