<ion-view view-title="首页" class="view-home">
  <!--位置按钮和搜索按钮-->
  <ion-nav-buttons side="left">
    <!-- todo: correct the implementation -->
    <button class="button ion-ios-location-outline button-clear button-default" ng-click="homeLocationIconPressed()"> {{city}}</button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-plus-empty"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <!--下拉刷新控件-->
    <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <!-- 首页轮播图 -->
    <section id="content">
      <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true" slide-interval="6000" width=100%>
        <ion-slide ng-repeat="b in banner">
          <div class="box"  style="width:16rem;height:6rem;background:url({{b.image}}) center 0 no-repeat;text-align:center;background-size:16rem 6rem">
          </div>
        </ion-slide>
      </ion-slide-box>
    </section>

    <!--课程分类-->
    <section id="btn-group">
      <div>
        <a ui-sref="tabs.publicCatagory">
          <img src="img/catagory/iconfont-yuwen.png">
          <p>语文</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-math.png">
          <p>数学</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-en.png">
           <p>英语</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-wuli.png">
           <p>物理</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-huaxue.png">
          <p>化学</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-shengwu.png">
          <p>生物</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-dili.png">
          <p>地理</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-lishi.png">
          <p>历史</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-zhengzhi.png">
          <p>政治</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-yinle.png">
          <p>音乐</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-zhili.png">
          <p>智力</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-more.png">
          <p>更多</p>
        </a>
      </div>
    </section>

    <section id="hot-teacher">
      <div>
        <h4><a href="#/tab/carryout">更多</a>热门名师</h4>
        <ul class="list store-items hot-store-list">
          <li>
            <a href="#">
              <div class="row item" ng-click="view(job)" style="padding:8px 5px;width:100%;">
                <div class="col col-75">
                  <h2 style="font-size:10pt;color:#222222">Ant</h2>
                  <p>小学语文</p>
                </div>
                <div class="col col-25">
                  <p class="red_salary" style="text-overflow:clip;">100/小时</p>
                  <p class="grey_date" style="font-size:8pt">广州天河</p>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="row item" ng-click="view(job)" style="padding:8px 5px;width:100%;">
                <div class="col col-75">
                  <h2 style="font-size:10pt;color:#222222">Ant</h2>
                  <p>小学语文</p>
                </div>
                <div class="col col-25">
                  <p class="red_salary" style="text-overflow:clip;">100/小时</p>
                  <p class="grey_date" style="font-size:8pt">广州天河</p>
                </div>
              </div>
            </a>
          </li>
          <li class="more">
            <a href="#/tab/carryout">查看更多名师</a>
          </li>
        </ul>
      </div>
    </section>
  </ion-content>
</ion-view>
