<ion-view view-title="首页" class="view-home">
  <!--位置按钮和搜索按钮-->
  <ion-nav-buttons side="left">
    <!-- todo: correct the implementation -->
    <button class="button ion-ios-location-outline button-clear button-default" ng-click="homeLocationIconPressed()"> {{city}}</button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-plus-empty"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <!--下拉刷新控件-->
    <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <!-- 首页轮播图 -->
    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" auto-play="true" slide-interval="6000">
      <ion-slide ng-repeat="b in banner">
        <a href="#">
          <img src="{{b.image}}" width="100%" height="150">
        </a>
      </ion-slide>
    </ion-slide-box>

    <!--课程分类-->
    <section id="btn-group">
      <div>
        <a ui-sref="tabs.publicCatagory">
          <img src="img/catagory/iconfont-yuwen.png">
          <p>语文</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-math.png">
          <p>数学</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-en.png">
           <p>英语</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-wuli.png">
           <p>物理</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-huaxue.png">
          <p>化学</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-shengwu.png">
          <p>生物</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-dili.png">
          <p>地理</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-lishi.png">
          <p>历史</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-zhengzhi.png">
          <p>政治</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-yinle.png">
          <p>音乐</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-zhili.png">
          <p>智力</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-more.png">
          <p>更多</p>
        </a>
      </div>
    </section>

    <div class="page-title">
      <h4 class="text-center">热门名师</h4>
    </div>

    <div class="list-item"
      collection-item-width="'100%'"
      >
      <a ui-sref="tabs.classDetail" layout="row" layout-align="space-between top">
        <img ng-src="img/touxiang_200x200.jpg" width="100" height="100">
        <div class="item-info" flex layout="column" layout-align="space-between">
          <div layout="row" layout-align="space-between">
            <div><h3 class="title">陈老师</h3></div>
            <div>
              <img src="img/icon/iconfont-shimingrenzheng.png" style="width:20px;vertical-align:text-top;" alt="">
              <img src="img/icon/iconfont-shimingrenzheng.png" style="width:20px;vertical-align:text-top;" alt="">
              <img src="img/icon/iconfont-shimingrenzheng.png" style="width:20px;vertical-align:text-top;" alt="">
            </div>
          </div>
              <div class="item-data">
                <div layout="row" layout-align="space-between">
                  <div>
                    <span class="">教龄:5年</span>
                    <span class="">课时:10</span>
                  </div>
                </div>
                <div layout="row" layout-align="space-between">
                  <div>
                    <span class="">科目:小学语文</span>
                  </div>
                </div>
                <div layout="row" layout-align="space-between">
                  <div>
                    <span class="site-color promo-price dib">$100/小时</span>
                  </div>
                  <div><i class="icon-heart"></i>广州天河</div>
                </div>
                <div layout="row" layout-align="space-between">
                  <div class=""><i class="ion-ios-person"></i>评价:</div>
                  <div><i class="ion-ios-heart"></i>10人评价</div>
                </div>
              </div>
            </div>
          </a>

          <a ui-sref="tabs.classDetail" layout="row" layout-align="space-between top">
            <img ng-src="img/touxiang_200x200.jpg" width="100" height="100">
            <div class="item-info" flex layout="column" layout-align="space-between">
                <h3 class="title">陈老师</h3>
                  <div class="item-data">
                    <div layout="row" layout-align="space-between">
                      <div>
                        <span class="">教龄:5年</span>
                        <span class="">课时:10</span>
                      </div>
                    </div>
                    <div layout="row" layout-align="space-between">
                      <div>
                        <span class="">科目:小学语文</span>
                      </div>
                    </div>
                    <div layout="row" layout-align="space-between">
                      <div>
                        <span class="site-color promo-price dib">$100/小时</span>
                      </div>
                      <div><i class="icon-heart"></i>广州天河</div>
                    </div>
                    <div layout="row" layout-align="space-between">
                      <div class=""><i class="ion-ios-person"></i>评价:</div>
                      <div><i class="ion-ios-heart"></i>10人评价</div>
                    </div>
                  </div>
                </div>
              </a>

              <a ui-sref="tabs.classDetail" layout="row" layout-align="space-between top">
                <img ng-src="img/touxiang_200x200.jpg" width="100" height="100">
                <div class="item-info" flex layout="column" layout-align="space-between">
                    <h3 class="title">陈老师</h3>
                      <div class="item-data">
                        <div layout="row" layout-align="space-between">
                          <div>
                            <span class="">教龄:5年</span>
                            <span class="">课时:10</span>
                          </div>
                        </div>
                        <div layout="row" layout-align="space-between">
                          <div>
                            <span class="">科目:小学语文</span>
                          </div>
                        </div>
                        <div layout="row" layout-align="space-between">
                          <div>
                            <span class="site-color promo-price dib">$100/小时</span>
                          </div>
                          <div><i class="icon-heart"></i>广州天河</div>
                        </div>
                        <div layout="row" layout-align="space-between">
                          <div class=""><i class="ion-ios-person"></i>评价:</div>
                          <div><i class="ion-ios-heart"></i>10人评价</div>
                        </div>
                      </div>
                    </div>
                  </a>
        </div>


  </ion-content>
</ion-view>
