<ion-view view-title="首页" class="view-home">
  <!--位置按钮和搜索按钮-->
  <ion-nav-buttons side="left">
    <!-- todo: correct the implementation -->
    <button class="button ion-ios-location-outline button-clear button-default" ui-sref="tabs.citypicker"> {{currentCity}}</button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <!--下拉刷新控件-->
    <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <!-- 首页轮播图 -->
    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" auto-play="true" slide-interval="6000">
      <ion-slide ng-repeat="b in banners">
        <a href="#">
          <img ng-src="{{b.image}}" width="100%" height="150">
        </a>
      </ion-slide>
    </ion-slide-box>

    <!--课程分类-->
    <section id="btn-group">
      <div>
        <a ui-sref="tabs.publicCatagory">
          <img src="img/catagory/iconfont-yuwen.png">
          <p>语文</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-math.png">
          <p>数学</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-en.png">
           <p>英语</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-wuli.png">
           <p>物理</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-huaxue.png">
          <p>化学</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-shengwu.png">
          <p>生物</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-dili.png">
          <p>地理</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-lishi.png">
          <p>历史</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-zhengzhi.png">
          <p>政治</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-yinle.png">
          <p>音乐</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-zhili.png">
          <p>智力</p>
        </a>
        <a ui-sref="tabs.publicCatagory">
          <img ng-src="img/catagory/iconfont-more.png">
          <p>更多</p>
        </a>
      </div>
    </section>

    <div class="page-title">
      <h4 class="text-center">热门名师</h4>
    </div>

    <div class="list card" ui-sref="tabs.classDetail">
      <div class="item item-thumbnail-left">
        <img src="img/touxiang_200x200.jpg">
        <h2>王老师&nbsp;&nbsp;<span class="user-auth fr">3项认证</span></h2>
        <span class="user-intro">教龄:5年</span><span class="user-intro fr">课时:100</span>
        <p>
          <span>科目:小学语文</span>
        </p>
        <p>
          <span>区域:广州天河</span>
        </p>
      </div>
      <div class="item">
        <span>评价:5</span>
        <span class="fr">$100</span>
      </div>
    </div>

    <div class="list card">
      <div class="item item-thumbnail-left">
        <img src="img/touxiang_200x200.jpg">
        <h2>王老师&nbsp;&nbsp;<span class="user-auth fr">3项认证</span></h2>
        <span class="user-intro">课堂活跃、对高考出题方向把握到位</span>
        <p>
          <span>科目:小学语文</span>
        </p>
        <p>
          <span>区域:广州天河</span>
        </p>
      </div>
      <div class="item">
        <span>评价:5</span>
        <span class="fr">$100</span>
      </div>
    </div>

    <div class="list card">
      <div class="item item-thumbnail-left">
        <img src="img/touxiang_200x200.jpg">
        <h2>王老师&nbsp;&nbsp;<span class="user-auth fr">3项认证</span></h2>
        <span class="user-intro">课堂活跃、对高考出题方向把握到位</span>
        <p>
          <span>科目:小学语文</span>
        </p>
        <p>
          <span>区域:广州天河</span>
        </p>
      </div>
      <div class="item">
        <span>评价:5</span>
        <span class="fr">$100</span>
      </div>
    </div>
  </ion-content>
</ion-view>
