<ion-view view-title="切换城市">

  <ion-nav-buttons side="left">
    <i class="ion-android-arrow-back" ng-click="goBack()">返回</i>
  </ion-nav-buttons>

  <ion-content has-bouncing="true">
    <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
            <i class="ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
            </label>
        </div>
        <div class="city-now">
            <label>当前城市:广州</label>
        </div>

        <div class="hot-city">
            <h3>热门城市:</h3>
            <div class="row">
                <div class="col">深圳</div>
                <div class="col">深圳</div>
                <div class="col">深圳</div>
                <div class="col">深圳</div>
            </div>
            <div class="row">
                <div class="col">深圳</div>
                <div class="col">深圳</div>
                <div class="col">深圳</div>
                <div class="col">深圳</div>
            </div>
        </div>

        <div class="all-city">
            <h3>全部城市</h3>
            <ion-list>
                <ion-list-item>
                    <p>佛山</p>
                </ion-list-item>
                <ion-list-item>
                    <p>佛山</p>
                </ion-list-item>
                <ion-list-item>
                    <p>佛山</p>

                </ion-list-item>
                <ion-list-item>
                    <p>佛山</p>
                </ion-list-item>
                <ion-list-item>
                    <p>佛山</p>
                </ion-list-item>
                <ion-list-item>
                    <p>佛山</p>
                </ion-list-item>
                <ion-list-item>
                    <p>佛山</p>
                </ion-list-item>
                <ion-list-item>
                    <p>佛山</p>
                </ion-list-item>

            </ion-list>
        </div>
  </ion-content>
</ion-view>
