<ion-view view-title="我">
  <ion-content>
  	<div class="me-user text-center">
  		<img src="img/iconfont-avater.png" height="100 px" width="100 px">
  		<div class="me-userinfo">
  			<h2>王蚂蚁</h2>
  			<p>电话:123456789010</p>
  		</div>
  	</div>
    <ion-list>
    	<ion-item>
    		<i class="ion-pricetags">  我的钱包</i>
      	</ion-item>
      	<ion-item>
    		<i class="ion-ios-paper-outline">  我的订单</i>
      	</ion-item>
      	<ion-item>
    		<i class="ion-ios-list-outline">  我的评价</i>
      	</ion-item>
      	<ion-item>
    		<i class="ion-ios-personadd-outline">  邀请好友</i>
      	</ion-item>
      	<ion-item>
    		<i class="ion-ios-gear-outline">  我的设置</i>
      	</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
