<ion-view view-title="首页" class="view-home">
  <!--位置按钮和搜索按钮-->
  <ion-nav-buttons side="left">
    <i class="icon-location" ng-click="openLocation()">
    </i>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <i class="icon-search" ng-click="openSearch()">
    </i>
  </ion-nav-buttons>

  <ion-content class="padding">
    <!--下拉刷新控件-->
    <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <!-- 首页轮播图 -->
    <ion-slide-box
      on-slide-changed="slideHasChanged($index)"
      auto-play="homeData.bannerConfig.changeTime"
      slide-interval="homeData.bannerconf.speed"
      does-continue="true" show-pager="true" alearn-banner>
      <ion-slide ng-repeat="banner in homeData.banner">
          <a ng-href="{{banner.url}}">
              <img src="{{banner.image}}" alt="" width="100%" height="150px"/>
          </a>
      </ion-slide>
    </ion-slide-box>

    <!--课程分类-->
    <section>
      <div class="home-catagory">
        <a href="#">
          <img src="img/catagory/iconfont-yuwen.png">
          <p>语文</p>
        </a>
        <a href="#">
          <img ng-src="img/catagory/iconfont-math.png">
          <p>数学</p>
        </a>
        <a href="#">
          <img ng-src="img/catagory/iconfont-en.png">
           <p>英语</p>
        </a>
        <a href="#">
          <img ng-src="img/catagory/iconfont-wuli.png">
           <p>物理</p>
        </a>
        <a href="#">
          <img ng-src="img/catagory/iconfont-huaxue.png">
          <p>化学</p>
        </a>
        <a href="#">
          <img ng-src="img/catagory/iconfont-shengwu.png">
          <p>生物</p>
        </a>
        <a href="#">
          <img ng-src="img/catagory/iconfont-dili.png">
          <p>地理</p>
        </a>
        <a href="#">
          <img ng-src="img/catagory/iconfont-lishi.png">
          <p>历史</p>
        </a>
        <a href="#">
          <img ng-src="img/catagory/iconfont-zhengzhi.png">
          <p>政治</p>
        </a>
        <a href="#">
          <img ng-src="img/catagory/iconfont-yinle.png">
          <p>音乐</p>
        </a>
        <a href="#">
          <img ng-src="img/catagory/iconfont-zhili.png">
          <p>智力</p>
        </a>
        <a href="#">
          <img ng-src="img/catagory/iconfont-more.png">
          <p>更多</p>
        </a>
      </div>
    </section>

    <!--热门老师-->
    <section>
      <div class="hot-teacher">
          <h4><a href="#">更多</a>爆款名师</h4>
          <ul class="list teacher-items hot-teacher-list">
                <li ng-repeat="teacher in homeData.hotTeacher">
                    <a ng-href="#" class="item item-icon-right" ng-class="{'not-business': !shop.is_business}" ng-click="shop.is_business || $event.preventDefault()">
                        <div class="teacher-item-pic" saled="{{ '已授课 ' + 100 + ' 小时' }}">
                            <img cache-src="{{ teacher.image }}" alt=""/>
                        </div>
                        <span class="teacher-item-info">
                            <h5 ng-bind="teacher.name"></h5>
                            <em>学科: 语文</em><br/>
                            <strong ng-bind="">评价: </strong>
                        </span>
                        <i class="icon ion-ios7-arrow-right"></i>
                    </a>
                </li>
                <li class="more">
                    <a href="#">查看更多名师</a>
                </li>
            </ul>
        </div>
    </section>


  </ion-content>
</ion-view>
