<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-alearn">

  <!-- Home Tab -->
  <ion-tab title="首页" icon-off="icon-home" icon-on="icon-home-fill" ui-sref="tabs.homeTab">
    <ion-nav-view name="homeTab"></ion-nav-view>
  </ion-tab>

  <!-- Category Tab -->
  <ion-tab title="课程" icon-off="icon-category" icon-on="icon-category-fill" ui-sref="tabs.classTab">
    <ion-nav-view name="classTab"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="消息" icon-off="icon-chat" icon-on="icon-chat-fill" ui-sref="tabs.chatsTab">
    <ion-nav-view name="chatsTab"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="我" icon-off="icon-user" icon-on="icon-user-fill" ui-sref="tabs.accountTab">
    <ion-nav-view name="accountTab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
