<ion-view view-title="身份信息">

  <ion-content has-bouncing="true">

  <div class="list">
    <a class="item item-icon-right" href="#">
      身份证号码
      <span class="item-note">
      112324188910053219
      </span>
      <i class="icon ion-ios-arrow-right"></i>
    </a>

    <a class="item item-icon-right" href="#">
      姓名
      <span class="item-note">
      王蚂蚁
      </span>
      <i class="icon ion-ios-arrow-right"></i>
    </a>

    <a class="item item-icon-right" href="#">
      有效期
      <span class="item-note">
      2015-09-30
      </span>
      <i class="icon ion-ios-arrow-right"></i>
    </a>

    <a class="item item-icon-right" href="#" ng-click="showPopup()">
      验证状态
      <span class="item-note">
      未上传
      </span>
      <i class="icon ion-ios-arrow-right"></i>
    </a>
  </div>

  <div>
    <div class="padding">
        <button class="button button-block button-positive">申请验证</button>
    </div>
  </div>

  <img ng-src="{{lastPhoto}}" style="max-width: 100%">

  </ion-content>

</ion-view>
