<ion-view view-title="身份信息">

  <ion-content has-bouncing="true">
    <div class="row"  style="border-bottom:1px dotted #ccc;padding:5px 0px;">
      <div class="col col-30"><span style="font-size: 10pt;"><img src="img/icon/iconfont-shimingrenzheng.png" style="width:20px;vertical-align:text-top;" alt=""></span>
        <span style="font-size: 10pt;color:#666;padding:3px 3px;">身份证号码</span></div>
      <div class="col col-70" style="text-align:right;font-size: 10pt;color:#777;overflow:hidden">112324188910053219<i class="ion-ios-arrow-right" style="padding-left: 10px"></i></div>
    </div>

    <div class="row"  style="border-bottom:1px dotted #ccc;padding:5px 0px;">
      <div class="col col-30"><span style="font-size: 10pt;"><img src="img/icon/iconfont-xueli.png" style="width:20px;vertical-align:text-top;" alt=""></span>
        <span style="font-size: 10pt;color:#666;padding:3px 3px;">姓名</span></div>
      <div class="col col-70" style="text-align:right;font-size: 10pt;color:#777;overflow:hidden">王蚂蚁<i class="ion-ios-arrow-right" style="padding-left: 10px"></i></div>
    </div>

    <div class="row"  style="border-bottom:1px dotted #ccc;padding:5px 0px;">
      <div class="col col-30"><span style="font-size: 10pt;"><img src="img/icon/iconfont-zigedaishenhe.png" style="width:20px;vertical-align:text-top;" alt=""></span>
        <span style="font-size: 10pt;color:#666;padding:3px 3px;">有效期</span></div>
      <div class="col col-70" style="text-align:right;font-size: 10pt;color:#777;overflow:hidden">2015/09/30<i class="ion-ios-arrow-right" style="padding-left: 10px"></i></div>
    </div>

    <div class="row"  style="border-bottom:1px dotted #ccc;padding:5px 0px;">
      <div class="col col-30"><span style="font-size: 10pt;"><img src="img/icon/iconfont-yanzheng.png" style="width:20px;vertical-align:text-top;" alt=""></span>
        <span style="font-size: 10pt;color:#666;padding:3px 3px;">身份验证</span></div>
        <div class="col col-70" style="text-align:right;font-size: 10pt;color:#777;overflow:hidden">未上传<i class="ion-ios-arrow-right" style="padding-left: 10px"></i></div>
    </div>

    <div>
      <button type="submit" class="button button-block button-small" style="font-size: 10pt;color:#666;" ng-click="requestNewPassword()" ng-disabled="recover_password_form.$invalid">申请审核</button>
    </div>

  </ion-content>

</ion-view>
