/* Empty. Add your own CSS if you like */
@charset "UTF-8";

html, body,
h1, h2, h3, h4, h5, h6,
div, span {
  font-family: Helvetica, "微软雅黑", "Hiragino Sans GB", Tahoma, Arial, \5b8b\4f53, sans-serif !important;
}

button,input,select,textarea {
	font-family: Helvetica, "微软雅黑", "Hiragino Sans GB", Tahoma, Arial, \5b8b\4f53, sans-serif !important;
}

html, body {
  font-family: Helvetica, "微软雅黑", "Hiragino Sans GB", Tahoma, Arial, \5b8b\4f53, sans-serif !important;
  font-size: 14px;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #666;
}
a:hover, a:active, a::visited, a:focus {
  outline: 0;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #666;
}

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.affix {
  position: fixed;
}

.img-circle {
  border-radius: 50%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.indent {
  text-indent: 2em;
}

.noindent {
  text-indent: 0;
}

.db {
  display: block;
  *zoom: 1;
}

.wrap-dib {
  font-size: 0;
  *word-spacing: -1px;
}

.wrap-dib .dib {
  font-size: 14px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .wrap-dib {
    letter-spacing: -5px;
  }
}
.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.list-inline > li {
  display: inline-block !important;
}

.site-color {
  color: #F7375C;
}

.media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
}

.media-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.media-body,
.media-body :last-child {
  margin-bottom: 0;
}

.media-title {
  margin: 0 0 .5em;
}

.media-center {
  align-items: center;
}

.media-reverse > .media-figure {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
  margin: 0 0 0 1em;
}

.aligner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.aligner-item-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-3 {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -moz-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-4 {
  -webkit-box-flex: 4;
  -webkit-flex: 4;
  -moz-box-flex: 4;
  -moz-flex: 4;
  -ms-flex: 4;
  flex: 4;
}

.flex-5 {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -moz-flex: 5;
  -ms-flex: 5;
  flex: 5;
}

.flex-6 {
  -webkit-box-flex: 6;
  -webkit-flex: 6;
  -moz-box-flex: 6;
  -moz-flex: 6;
  -ms-flex: 6;
  flex: 6;
}

.flex-7 {
  -webkit-box-flex: 7;
  -webkit-flex: 7;
  -moz-box-flex: 7;
  -moz-flex: 7;
  -ms-flex: 7;
  flex: 7;
}

.flex-8 {
  -webkit-box-flex: 8;
  -webkit-flex: 8;
  -moz-box-flex: 8;
  -moz-flex: 8;
  -ms-flex: 8;
  flex: 8;
}

.flex-9 {
  -webkit-box-flex: 9;
  -webkit-flex: 9;
  -moz-box-flex: 9;
  -moz-flex: 9;
  -ms-flex: 9;
  flex: 9;
}

.flex-10 {
  -webkit-box-flex: 10;
  -webkit-flex: 10;
  -moz-box-flex: 10;
  -moz-flex: 10;
  -ms-flex: 10;
  flex: 10;
}

.flex-11 {
  -webkit-box-flex: 11;
  -webkit-flex: 11;
  -moz-box-flex: 11;
  -moz-flex: 11;
  -ms-flex: 11;
  flex: 11;
}

.flex-12 {
  -webkit-box-flex: 12;
  -webkit-flex: 12;
  -moz-box-flex: 12;
  -moz-flex: 12;
  -ms-flex: 12;
  flex: 12;
}

.shadow {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

.page-title {
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.relative{
  position: relative;
}

.text-fr{
	text-align: right;
}
.text-fl{
	text-align: left;
}
.text-center{
	text-align: center;
}

/*页面属性*/
/*tabs*/
.tabs-alearn .tab-item .icon {
  margin: 4px auto 0 !important;
  height: 26px !important;
  font-size: 26px !important;
}
.tabs-alearn .tab-item .icon.icon-home-fill, .tabs-alearn .tab-item .icon.icon-chat-fill, .tabs-alearn .tab-item .icon.icon-user-fill, .tabs-alearn .tab-item .icon.icon-category-fill {
  color: #00BB9C !important;
}
.tabs-alearn .tab-item .icon.icon-user, .tabs-alearn .tab-item .icon.icon-category, .tabs-alearn .tab-item .icon.icon-user-fill, .tabs-alearn .tab-item .icon.icon-category-fill {
  position: relative;
  top: 2px;
  font-size: 24px !important;
}

/*首页页面属性*/
i.icon-search, i.icon-location {
  font-size: 25px;
  line-height: 32px;
}

/*首页轮播图*/


/*首页分类*/
#btn-group{
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
	height: auto;
  margin-top: 10px;
}

#btn-group:after{
	content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#btn-group a{
	float: left;
	display: block;
  width: 25%;
  text-align: center;
	position: relative;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-top: 5px;
}
#btn-group a img{
	width: 2.25rem;
}

.list-item {
  padding: 0;
  border-width: 1px 0 0 0;
  -webkit-border-image: url(../img/border.png) 2 0 stretch;
  border-image: url(../img/border.png) 2 0 stretch;
  display: block;
}
.list-item a {
  padding: 6px;
  border-bottom: 1px solid #ccc;
}
.list-item a .item-info {
  margin-left: 4px;
  font-size: 0.85rem;
  color: #999;
}
.list-item a .item-info .title {
  color: #333;
  overflow: auto;
  white-space: normal;
  font-size: 14px;
}
.list-item a .item-info .item-data {
  margin-bottom: -5px;
}
.list-item a .item-info .item-data .promo-price {
  font-size: 13px;
}
.list-item a .item-info .item-data .ion-ios-person {
  font-size: 13px;
}
.list-item a .item-info .item-data .ion-ios-heart {
  font-size: 13px;
}
.list-item:active {
  background-color: #f0f0f0;
}

.wrap-btn-sign {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.wrap-btn-sign li a {
  display: block;
  color: #fff;
  height: 40px;
  line-height: 40px;
}
.wrap-btn-sign li a.btn-login {
  background: #34495e;
}
.wrap-btn-sign li a.btn-register {
  background: #F7375C;
}


/*城市切换页面*/
.city-select .list {
	margin-bottom: 0
}

.city-select .list.hot .item-text-wrap {
	background: #fff
}

.city-select .item {
	padding-left: 16px
}

.city-select .item span:first-child {
	color: #999;
	margin-left: 5px;
	font-size: 13px
}

.city-select .item .checkbox {
	left: auto
}

.city-select .item .more .icon {
	font-size: 22px;
	color: #aaa
}

.city-select .item-divider {
	border: none;
	background: #E5E6E7
}

.city-select .item-divider .icon {
	left: 80px;
	right: auto;
	font-size: 20px;
	color: #777
}

.city-select .item-text-wrap {
	background: #f8f8f8
}

.city-select .item-text-wrap.city {
	background: #fff;
	padding-left: 30px;
	font-size: 14px;
	border-color: #E5E6E7
}

/*Account*/
#content{
	position: relative;
	width: 16rem;
	margin:  0 auto;
}

#account-bg{
	width: 100%;
	height: 8rem;
	background: url(../img/account-bg.png) center center no-repeat;
	background-size: 100% 8rem;
}
.account-ava{
	height: 3rem;
	top: 2.07rem;
	padding-left: 1.62rem;
}
.avater{
	width: 3rem;
	background-size: 3rem;
	border-radius: 50%;
}
.account-ava p{
	font-size: 16px;
	color: #fff;
}
.account-info{
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 5rem;
}

.list-li-bg li{
	background: url(../img/arrow-right.png) 98% center no-repeat;
	background-size: 8px;
  font-size: 10pt;
}
.list-li-bg li img{
	width:20px;
	vertical-align:text-top;
	margin-right:15px;
}

/*Account Info*/
#accountInfoAvater{
    background: #dddddd;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 65px;
    border-radius: 65px
}
.accountInfoImg{
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 59px 59px;
    border-radius: 65px;
    border: 3px solid #dddddd;
    width: 65px;
    height: 65px
}

.fontGray4{
    color: #888
  }
.iconFormInput{
    min-width: 25px !important;
    text-align: center;
    width: 25px !important;
    text-align: center;
    font-size: 25px;
    line-height: 20px;
    margin-right:10px
  }
  .iconEditPhotoProfile{
      float: right;
      margin-top: 25px;
      font-size: 30px}



/*课程页*/
.class-item-left{
  float: left;
}
.class-item-left h2{
  font-size:15px;
}
.class-item-left p{
  font-size: 10px;
}

.class-item-left .upper h2{
  float:left;
  margin-right: 10px;
}


/*消息页*/
.chat-item-upper h2{
  font-size:15px;
  float:left;
  margin-right: 20px;
}
.chat-item-upper p{
  font-size:10px;
}

.bar-footer-have{ height:auto;}
.footer-box{width:100%; display:block;}
.footer-box .messagebox{ position:relative; width:100%; display:block; height:41px;}
.footer-box .expression{display:block;width:100%;}
.footer-box .expression .facelist{ padding:5px;}
.footer-box .expression .facelist img{ margin:6px;}
.footer-box .add-event{width:100%; display:block;}
.footer-box .add-event .ionlist{padding:5px;}
.footer-box .add-event .ionlist span{ display:inline-block; padding:9px;  color:#888; margin:6px;}
.footer-box .add-event .ionlist span i{ border:1px solid #dedede; height:50px;width:50px; display:inline-block; padding:8px; border-radius:8px; color:#888;font-size:36px;}
.footer-box .add-event .ionlist span p{ text-align:center;}
.send{width:100%; position:absolute; bottom:5px; left:0px; padding-right:50px; padding-left:1px;}
.projct{padding-left:5px;}
.buchong{ margin:10px 5px 5px; position:relative;}
.send .txt{ padding:5px 28px 5px 5px; display:block; border-radius:4px; border:1px solid #dedede; line-height:20px; margin-right:50px; width:100%;max-height:260px; min-height:32px;}
.send .dym{ padding-right:5px;}
.send .btn_press{display:block; border-radius:4px; height:32px; border:1px solid #dedede; width:100%; background-color:#FFF;}
.send .actived{ background-color:#ddd;border-radius:4px;}

.buchong .txt{ padding:5px; display:block; border-radius:4px; border:1px solid #dedede; line-height:20px; margin-right:50px; width:100%;color:#ccc;}
.send div.editer{ min-height:30px; position:absolute;left:0; bottom:0; margin-right:60px; background-color:#FFF;}
.comments {padding:5px 10px; position:absolute; left:-1000px; top:-55px; border-radius:4px; border:1px solid #dedede; line-height:20px; margin-right:50px; width:100%;max-height:260px; min-height:32px;  word-wrap: break-word;}
.send .divshort{ width:240px;}
.send .btn { background-color:#3c5c99;border-radius:4px; border:0px; color:#FFF; position:absolute; right:7px; bottom:2px; height:30px;}
.send .happy { background:none;border-radius:4px; border:0px; color:#FFF; position:absolute; right:50px; bottom:2px; height:32px;color:#3c5c99;font-size:26px;}
.send .add {border:0px; font-size:30px; position:absolute; right:7px; bottom:2px; height:36px; color:#3c5c99; background:none;}
.send .keypad {border:0px; font-size:30px; position:absolute; left:0px; bottom:2px; height:36px; color:#3c5c99; background:none;}
.send .mic {border:0px; font-size:30px; position:absolute; left:0px; bottom:2px; height:36px; color:#3c5c99; background:none;}
.send .add:before{ padding:0;}

.chat .list{ padding-top:10px}
.chat .list .item{ border:0px; padding:4px; position:relative; min-height:35px; background:none;}
.chat .list .time{ text-align:center;min-height:20px;}
.chat .list .time span{background-color:#dedede; padding:3px 10px; border-radius:5px; font-size:10px;}
.chat .list .left{ padding:0 45px 0 55px;margin-bottom:5px;margin-top:5px;}
.chat .list .left > img{ position: absolute; left:1px; top:0px; border-radius:28px; width:38px; height:38px;}
.chat .list .left > i{background:url(../img/icon_left.png) 0px 0px no-repeat; width:14px; height:26px; position: absolute; left:47px; top:6px;}
.chat .list .left .message{ padding:8px 6px; line-height:20px;white-space:normal; border:0px solid #ccc; border-radius:6px; background-color:#FFF; font-size:14px; display:inline-block;min-height:0; text-align:left;font-family:'微软雅黑';letter-spacing:0.1em;}
.chat .list .img{ width:100%; max-width:100px;min-width:60px;}
.chat .list .right{ padding:0 48px 0 50px;margin-bottom:5px;margin-top:5px;text-align:right;}
.chat .list .right > img{ position: absolute; right:1px; top:0px; border-radius:28px; width:38px;height:38px;}
.chat .list .right > i{background:url(../img/icon_right.png) 0px 0px no-repeat; width:14px; height:26px; position: absolute; right:41px; top:5px;}
.chat .list .right .message{ padding:8px 6px; line-height:20px;white-space:normal;background-color:#45aaf2;border-radius:6px;font-size:14px;display:inline-block;border:0px solid #ccc; text-align:left; min-height:0; color:#FFF; font-family:'微软雅黑';letter-spacing:0.1em;}
.point-right{ background:url(../img/point.png) right center no-repeat; padding-right:12px; margin-right:6px;}
.chat .list .left .pics,.chat .list .right .pics{ padding:0;}
/* .usercenter .item{ padding:5px 11px;} */
.usercenter .chating{padding-left:98px;padding-right:23px;min-height:50px;}
.chating .title{position:absolute; left:0px;  width:55px; font-size:16px; color:#000;}
.chating .chatcont{ font-size:15px; white-space:normal; color:#6f6d6d;}


/*我页*/
.me-user h2{
  font-size: 15px;
}
.me-user p{
  font-size:10px;
}

i.ion-social-yen, i.ion-ios-paper-outline, i.ion-ios-list-outline,
i.ion-ios-personadd-outline, i.ion-ios-gear-outline {
  font-size: 25px;
}

/*评价页*/
.comment{
  font-size: 10pt;
  height: 35px;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
}
.comment .left span{
  font-size: 6pt;
}
/*分类页*/
.select_style2 {width:80%; height:30px; overflow:hidden; /*background:url(../img/arrow4.png) no-repeat 90%;*/
    border:0px solid #ccc;position: relative;

}
.select_style2 select { padding:5px; background:transparent; width:80%; font-size: 16px; border:none; height:30px;padding-left:8px;
    -webkit-appearance: none; padding-left:0;/*for Webkit browsers*/right: auto;
}

.select_style2:after {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    color: #999;
    content: "";
    pointer-events: none;
}
