<ion-view view-title="账户明细">
    <ion-content has-bouncing="true">

      <div class="item item-divider">
        2015年09月
      </div>
      <ul class="list">
        <li class="item" ui-sref="tabs.moneyAccountEntryDetail">
          <p>充值100元</p>
          <i>2015-09-18</i>
        </li>
        <li class="item" ui-sref="tabs.moneyAccountEntryDetail">
          <p>支付100元</p>
          <i>2015-09-17</i>
        </li>
      </ul>

      <div class="item item-divider">
        2015年08月
      </div>
      <ul class="list">
        <li class="item" ui-sref="tabs.moneyAccountEntryDetail">
          <p>充值100元</p>
          <i>2015-08-01</i>
        </li>
        <li class="item" ui-sref="tabs.moneyAccountEntryDetail">
          <p>兑换优惠券2元</p>
          <i>2015-08-02</i>
        </li>
      </ul>

    </ion-content>
</ion-view >
