<ion-view title="王老师" hide-tabs='true'>
  <ion-content padding="false" class="has-header no-footer" delegate-handle="mainScroll" scroll-header-show="" threshold="150">
    <ion-slide-box does-continue="false"> 
     <ion-slide>
      <img like-animated="likeAnimated fadeOutUp" src="img/home-slider01.jpg" img-loaded="imageloaded-fadein" width="100%" height="150"/>
     </ion-slide> 
    </ion-slide-box>

    <div class="list">
      <div class="item item-avatar item-icon-right">
        <img src="img/touxiang_200x200.jpg">
        <h2>王老师&nbsp;&nbsp;<span class="fr">$150</span></h2>
        <p><span class="user-auth">实名认证</span><span class="user-auth">资格认证</span><span class="user-auth">学历认证</span></p>
        <i class="icon ion-ios-chatbubble-outline"></i>
        </div>
        <div class="row" style="text-align:center;border: 1px solid #ccc">
          <div class="col col-33" style="border-right: 1px solid #ccc">
            学生:5
          </div>
          <div class="col col-33" style="border-right: 1px solid #ccc">
            教学:50小时
          </div>
          <div class="col col-33">
            好评:80%
          </div>
        </div>
      </div>
    </div>

    <ion-list>
      <ion-item item="item">
        <div >
          <i class="icon ion-clock"></i> 教师身份
          <span class="item-note">
            教师
          </span>
        </div>
      </ion-item>

      <ion-item item="item">
        <div >
          <i class="icon ion-clock"></i> 毕业学校
          <span class="item-note">
            中山大学
          </span>
        </div>
      </ion-item>

      <ion-item item="item">
        <div >
          <i class="icon ion-clock"></i> 学历
          <span class="item-note">
            大学本科
          </span>
        </div>
      </ion-item>

      <ion-item item="item">
        <div >
          <i class="icon ion-clock"></i> 教学科目
        </div>
        <div >
          <p>小学语文/小学数学/小学英语</p>
        </div>
      </ion-item>

      <ion-item item="item">
        <div >
          <i class="icon ion-clock"></i> 教学时间
        </div>
        <div >
          <p>周二上午/周二下午/周三全天</p>
        </div>
      </ion-item>

      <ion-item item="item">
        <div >
          <i class="icon ion-clock"></i> 教学方式
        </div>
        <div >
          <p>广州天河/老师上门</p>
        </div>
      </ion-item>

      <ion-item item="item">
        <div >
          <i class="icon ion-clock"></i> 成功经验
        </div>
        <div >
          <p>2014年03月</p>
          <p>学生语文100分，先分析学生问题，基础较差，每节课前五分钟进行听写，每周背满分作文段落，罗列五年中考考点，各个击破。中考116</p>
        </div>
      </ion-item>

      <ion-item item="item">
        <div >
          <i class="icon ion-clock"></i> 教学案例
        </div>
        <div >
          <p>2014年03月</p>
          <p>学生语文100分，先分析学生问题，基础较差，每节课前五分钟进行听写，每周背满分作文段落，罗列五年中考考点，各个击破。中考116</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">
      <button class="button button-royal icon ion-ios-chatbubble-outline" ng-click="showChat(doctor.uid)"> 查看评价</button> 
      <button class="button button-assertive icon ion-ios-heart-outline" ng-click="iLikes(doctor.uid)"> 马上约课</button> 
    </div>
  </ion-footer-bar>
</ion-view>
