<ion-view title="提交订单" hide-tabs>
  <ion-content padding="false" class="has-header no-footer" delegate-handle="mainScroll">

    <div class="row"  style="border-bottom:1px dotted #ccc;padding:10px 0px;">
      <div class="col col-30"><span style="font-size: 10pt;"><i class="ion-social-chrome-outline"></i></span> <span style="font-size: 10pt;color:#666;padding:3px 8px;">科目设置</span></div>
      <div class="col col-70" style="text-align:right;font-size: 10pt;color:#777;overflow:hidden">小学语文<i class="ion-ios-arrow-right" style="padding-left: 10px"></i></div>
    </div>

    <div class="row"  style="border-bottom:1px dotted #ccc;padding:10px 0px;">
      <div class="col col-30"><span style="font-size: 10pt;"><i class="ion-social-chrome-outline"></i></span> <span style="font-size: 10pt;color:#666;padding:3px 8px;">上课方式</span></div>
      <div class="col col-70" style="text-align:right;font-size: 10pt;color:#777;overflow:hidden">上门授课<i class="ion-ios-arrow-right" style="padding-left: 10px"></i></div>
    </div>
    <div class="row"  style="border-bottom:1px dotted #ccc;padding:10px 0px;">
      <div class="col col-30"><span style="font-size: 10pt;"><i class="ion-social-chrome-outline"></i></span> <span style="font-size: 10pt;color:#666;padding:3px 8px;">授课时间</span></div>
      <div class="col col-70" style="text-align:right;font-size: 10pt;color:#777;overflow:hidden">3<i class="ion-ios-arrow-right" style="padding-left: 10px"></i></div>
    </div>
    <div class="row"  style="border-bottom:1px dotted #ccc;padding:10px 0px;">
      <div class="col col-30"><span style="font-size: 10pt;"><i class="ion-social-chrome-outline"></i></span> <span style="font-size: 10pt;color:#666;padding:3px 8px;">课程单价</span></div>
      <div class="col col-70" style="text-align:right;font-size: 10pt;color:#777;overflow:hidden">300<i class="ion-ios-arrow-right" style="padding-left: 10px"></i></div>
    </div>
    <div class="row"  style="border-bottom:1px dotted #ccc;padding:10px 0px;">
      <div class="col col-30"><span style="font-size: 10pt;"><i class="ion-social-chrome-outline"></i></span> <span style="font-size: 10pt;color:#666;padding:3px 8px;">订单总额</span></div>
      <div class="col col-70" style="text-align:right;font-size: 10pt;color:#777;overflow:hidden">900<i class="ion-ios-arrow-right" style="padding-left: 10px"></i></div>
    </div>
    <div>
      <button type="submit" class="button button-block" ng-click="requestNewPassword()" ng-disabled="recover_password_form.$invalid">立即支付</button>
    </div>
  </ion-content>
</ion-view>
