<ion-view view-title="我的评价">
  <ion-content has-bouncing="true">
    <div class="comment row">
      <div class="col col-50 left">
        全部评价<span>(13次)</span>
      </div>
      <div class="col col-50 right">
        4.5
      </div>
    </div>

    <ion-list>
      <ion-item>
        <div>
          <p>2015年8月29  135*******  *****</p>
          <p>非常愉快的一次课程</p>
        </div>
      </ion-item>
      <ion-item>
        <div>
          <p>2015年8月29  135*******  *****</p>
          <p>非常愉快的一次课程</p>
        </div>
      </ion-item>
      <ion-item>
        <div>
          <p>2015年8月29  135*******  *****</p>
          <p>非常愉快的一次课程</p>
        </div>
      </ion-item>
      <ion-item>
        <div>
          <p>2015年8月29  135*******  *****</p>
          <p>非常愉快的一次课程</p>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
