<ion-view view-title="我的订单">

  <ion-content has-bouncing="true">
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right">
              <img ng-src="img/iconfont-avater.png">
              <div class="class-item-left">
                <div class="upper">
                  <h2>陈先生</h2>
                    <p>科目:小学语文</p>
                </div>
                <div class="middle">
                  <p>订单编号:0000000001</p>
                  <p>时间:2015年8月8号</p>
                  <p>状态:已支付</p>
                  <p>评价:</p>
                </div>
              </div>
            </ion-item>

            <ion-item class="item-remove-animate item-avatar item-icon-right">
                <img ng-src="img/iconfont-avater.png">
                <div class="class-item-left">
                  <div class="upper">
                    <h2>陈先生</h2>
                      <p>科目:小学语文</p>
                  </div>
                  <div class="middle">
                    <p>订单编号:0000000001</p>
                    <p>时间:2015年8月8号</p>
                    <p>状态:已支付</p>
                    <p>评价:</p>
                  </div>
                </div>
              </ion-item>


              <ion-item class="item-remove-animate item-avatar item-icon-right">
                  <img ng-src="img/iconfont-avater.png">
                  <div class="class-item-left">
                    <div class="upper">
                      <h2>陈先生</h2>
                        <p>科目:小学语文</p>
                    </div>
                    <div class="middle">
                      <p>订单编号:0000000001</p>
                      <p>时间:2015年8月8号</p>
                      <p>状态:已支付</p>
                      <p>评价:</p>
                    </div>
                  </div>
                </ion-item>
          </ion-list>
  </ion-content>

</ion-view>
