<ion-view view-title="发布需求" hide-tabs='true'>

  <ion-content has-bouncing="true">

    <div class="item item-input item-select">
      <div class="input-label">
        科目
      </div>
      <select>
        <option selected>语文</option>
      </select>
    </div>

    <div class="item item-input item-select">
      <div class="input-label">
        年级
      </div>
      <select>
        <option selected>小学一年级</option>
      </select>
    </div>

    <div class="item item-input item-select">
      <div class="input-label">
        上课地点
      </div>
      <select>
        <option selected>老师上门</option>
      </select>
    </div>

    <div class="item item-input item-select">
      <div class="input-label">
        价格(每小时)
      </div>
      <select>
        <option selected>100-150</option>
      </select>
    </div>

    <div>
      <div class="padding">
        <button class="button button-block button-positive">提交需求</button>
      </div>
    </div>

  </ion-content>

</ion-view>
